@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body>

    <h2>Update Password</h2>

    <form action="ChangePassword" method="post">
        <!--<div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>-->


        <div class="container">
            <label for="oldPassword"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="oldPassword" required>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }
            <label for="Password"><b>New Password</b></label>
            <input type="password" placeholder="Enter new Password" name="Password" required>

            <label for="confirmPassword"><b>Confirm Password</b></label>
            <input type="password" placeholder="Enter new Password" name="confirmPassword" required>
            @if (TempData["matchPassword"] != null)
            {
                <div class="alert alert-success">
                    @TempData["matchPassword"]
                </div>
            }
            <button type="submit" class="btn btn-primary">Update</button>
            
        </div>
    </form>

</body>